<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Index{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/demo/jinja">Démonstrations Jinja</a></li>
        </ul>
        <p>get task avec données locales</p>
        <ul>
            <li><a href="/task/new">Nouvelle tache</a></li>
        </ul>
        <p>crud avec connexion db pour l'utilisateur</p>
        <ul>
            <li><a href="/users">tout les utilisateurs</a></li>
            <li><a href="/user/register">Nouvel utilisateur</a></li>
        </ul>
    </nav>
    {% block content%}<h1>Bienvenue sur la page d'index !<h1>{% endblock%}
</body>
</html>